.swal2-popup {
  background-color: #0d0d0d;
}

.swal2-title {
  color: #d2d2d2;
}

.swal2-icon {
  color: #d2d2d2;
}

.swal2-confirm {
  background-color: #3e3e3e;
  color: #fff;
  min-width: 80px !important;
}

.swal2-cancel {
  background-color: #cd2e71;
  color: #fff;
  min-width: 80px !important;
}
